<hr class="hr-15" />
<p>WELCOME TO MY LIBRARY</p>
<hr class="hr-15" />

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label> Library </ng-template>
    <!--library-->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Until He Was Gone</mat-card-title>
          <mat-card-subtitle>(Book 1 of Until Trilogy)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/book1.jpg"
          style="object-fit:fill; width:200px; height:300px; border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Jan 20, 2014 - March 09, 2014<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Si Klare Montefalco ay ipinanganak sa isang kilala at marangyang
            pamilya.Nang tumibok ang puso niya, doon niya napagtanto na nag
            bawat pader ay natitibag din. Ngunit sa pagkawala ng pag-ibig niya,
            doon lang din ba niya mapagtatanto kung ano ang nawala sa kanya?
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to favorites">
            Add to bookshelf
          </button>

          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>

    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Until He Returned</mat-card-title>
          <mat-card-subtitle>(Book 2 of Until Trilogy)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="ahttps://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/book2.jpg"
          style="object-fit:fill;
            width:200px;
            height:300px;
            border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: March 12, 2014 - May 09, 2014<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Nang malaman ni Klare na hindi siya tunay na anak, nag bago ang ikot
            ng kanyang mundo. Sa pagbabalik ba ng kanyang minamahal matitibag
            ang kanyang mga paniniwala at desisyon? How will she handle him now
            that he's back?
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to favorites">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>

    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Until Forever</mat-card-title>
          <mat-card-subtitle>(Book 3 of Until Trilogy)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/book3.jpg"
          style="object-fit:fill;
width:200px;
height:300px;
border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: May 28, 2014 - Oct 07, 2014<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Elijah Montefalco never liked this particular girl cousin. They were
            family so he needed to deal with her sometimes. But there was a
            reason why he never liked her.. Pero bakit nga ba? Can't they live
            happily even just for a moment?
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Scorching Love</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #1)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s1.jpg"
          style="object-fit:fill;
      width:200px;
      height:300px;
      border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Feb 27,2016 - June 05, 2016<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Lilienne Altamirano is not your typical probinsyana. She thinls
            she'll succeed, only to find out that she didn't tame him, he tamed
            her. She made sure shw won't make the same mistakes again. That's
            for sure now. But then again...she tripped.
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Waves of Memories</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #2)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s2.jpg"
          style="object-fit:fill;
            width:200px;
            height:300px;
            border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: July 27,2016 - Nov 20, 2016<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Without her memories, Thraia Fortunato doesn't have a clue about her
            past. Kung paano siya dinala ng mga alon sa isang lugar na hindi
            pamilyar s kanya ay lagpas sa kanyang pang-unawa. With only a
            stranger who says he is her husband, she started to doubt
            everything.
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Island of Fire</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #3)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s3.jpg"
          style="object-fit:fill;
width:200px;
height:300px;
border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Nov 02, 2016 - Feb 11, 2017<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Zariyah Leviste, the luxurios, expensive, and elite queen of one of
            the country's largest real estate company is in trouble. Her
            desperation led to her to an idea. Marriage for convenience, ayon sa
            kanya. Pero sandali. Bakit may engagement party si Radleigh Riego sa
            ibang babae?
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Blown by the Wind</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #4)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s4.jpg"
          style="object-fit:fill;
      width:200px;
      height:300px;
      border: solid 5px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Jan 12, 2017 - July 22, 2017<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Barely escaping a tragedy, Eurydyce Saniel, a young rising star, is
            found unconscious inside a small boat on the shoes of Costa Leona.
            With Eury refusing to tell Vincent the reason why she was in that
            boat, how will Vincent protect Eury without knowing anything?
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>What Lies Beneath the Sand</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #5)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s4.jpg"
          style="object-fit:fill;
            width:200px;
            height:300px;
            border: solid 1px white"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Jan 12, 2017 - Oct 31, 2017<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            Nasilaw sa pera at sa kagustuhang makapagtapos sa pag-aaral nang
            walang aberya, binalwala niya ang unti-unting nararamdaman para kay
            Zamiel Mercadejas. She fooled him wholeheartedly and it hurt. She
            chose the money and her future.
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sands of Time</mat-card-title>
          <mat-card-subtitle>(Costa Leona Series #6)</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://stackblitz.com/files/angular-wcq38r/github/DhanaBermudez/angular-dfb-materialdemo/main/src/assets/s6.jpg"
          style="object-fit:fill;
                  width:200px;
                  height:300px;
                  border: solid 1px #CCC"
        />
        <mat-card-content>
          <h3 class="book1">
            Status: Completed<br />
            Posted: Oct 5, 2017 - Jan 9, 2018<br />
            Author: Jonaxx<br />
          </h3>

          <h5>
            If she was only that powerful like what everyone believes, Soleil
            Cervantes, The Lady of the Light, would have sped up the time.
            Matagal niya nang hinihiling iyon kasama ng paghiling niyang
            suwertehin din siya sa buhay, sa pag-aaral, at sa mga kaibigan.
          </h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matTooltip="Click to add to bookshelf">
            Add to bookshelf
          </button>
          <mat-icon>favorite</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <!--library-->
  <!--bookshelf-->

  <mat-tab>
    <ng-template mat-tab-label> My Bookshelf </ng-template>

    <app-bookshelf></app-bookshelf>
  </mat-tab>

  <!--bookshelf-->

  <!--tab-->
  <mat-tab>
    <ng-template mat-tab-label> Bookmarks </ng-template>
    <app-bookmarks></app-bookmarks>
  </mat-tab>
</mat-tab-group>
<!--tab-->
