<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Until He Was Gone</mat-card-title>
      <mat-card-subtitle>(Book 1 of Until Trilogy)</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/book1.jpg"
      style="object-fit:fill; width:200px; height:300px; border: solid 5px white"
    />
    <mat-card-content>
      <h3 class="book1">
        Status: Completed<br />
        Posted: Jan 20, 2014 - March 09, 2014<br />
        Author: Jonaxx<br />
      </h3>

      <h5>
        Si Klare Montefalco ay ipinanganak sa isang kilala at marangyang
        pamilya.Nang tumibok ang puso niya, doon niya napagtanto na nag bawat
        pader ay natitibag din. Ngunit sa pagkawala ng pag-ibig niya, doon lang
        din ba niya mapagtatanto kung ano ang nawala sa kanya?
      </h5>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Scorching Love</mat-card-title>
      <mat-card-subtitle>(Costa Leona Series #1)</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/s1.jpg"
      style="object-fit:fill;
  width:200px;
  height:300px;
  border: solid 5px white"
    />
    <mat-card-content>
      <h3 class="book1">
        Status: Completed<br />
        Posted: Feb 27,2016 - June 05, 2016<br />
        Author: Jonaxx<br />
      </h3>

      <h5>
        Lilienne Altamirano is not your typical probinsyana. She thinls she'll
        succeed, only to find out that she didn't tame him, he tamed her. She
        made sure shw won't make the same mistakes again. That's for sure now.
        But then again...she tripped.
      </h5>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
